body {
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    color: #ff4081;
}

#game-container {
    position: relative;
    width: 80%;
    margin: auto;
    height: 80vh;
    border: 5px solid;
    border-image: linear-gradient(to right,
            #FF0000, #FF8C00, #FFD700, #008000, #00CED1, #8A2BE2, #FF69B4) 1;
    overflow: hidden;
}

.balloon {
    position: absolute;
    bottom: -100px;
    width: 4em;
    height: 5em;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: float 5s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balloon::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 40px;
    top: 100%;
    background: linear-gradient(45deg,
            transparent 25%, black 25%, black 50%,
            transparent 50%, transparent 75%, black 75%);
    background-size: 6px 6px;
}

@keyframes float {
    to {
        transform: translateY(-110vh);
    }
}

.splash {
    position: absolute;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 255, 0, 0.5), transparent);
    border-radius: 50%;
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(2);
    }
}

@media screen and (max-width: 500px) {
    .balloon {
        width: 3em;
        height: 4em;
    }

    #game-container {
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .balloon {
        width: 2.5em;
        height: 3.5em;
    }
}